/.container_home_dir
/untracked
/dist
/out
/.venv
.~*
*~
__pycache__
.mypy_cache
idea
.idea
*.wpu

# automatically updated by snippets2changelog and changelog2version
changelog.md
cmk_devops/version.py
version.json
