# To install pre-commit hooks, install `pre-commit` and activate it here:
#     pip3 install pre-commit
#     pre-commit install
#
---
fail_fast: true
default_stages:
    - commit
    - push
    - manual
repos:
    - repo: local
      hooks:
          - id: check-shellscripts
            name: Check Shell Scripts
            entry: dev/check-shellscripts
            language: script
            types: [file, shell]
          - id: check-python-format
            name: Check Python Formatting
            entry: dev/check-python-format
            language: script
            types: [file, python]
          # - id: check-python-typing
          #   name: Check Python Type Hinting
          #   entry: dev/check-python-typing
          #   language: script
          #   types: [file, python]
          - id: check-python-typing
            name: Check Python Type Hinting
            language: system
            entry: poetry
            args: ["run", "mypy", "--config-file", "pyproject.toml"]
            types: [file, python]
            exclude: (?x)^(\.venv)$
          - id: check-yaml-linting
            name: Check YAML Linting
            entry: dev/check-yaml-linting
            language: script
            types: [file, yaml]
          - id: check-python-doctest
            name: Doctests
            entry: dev/check-python-doctests
            language: script
            types: [file, python]
            exclude: (?x)^(
                cmk-dev_dev)$
            verbose: true

            #          - id: absolute-imports
            #            name: Check absolute imports
            #            entry: scripts/check-absolute-imports.py
            #            language: script
            #            types: [file, python]
            #          - id: flake8
            #            name: Check flake8
            #            entry: scripts/check-flake8
            #            language: script
            #            types: [file, python]
            #            verbose: true
            #          - id: unittest
            #            name: unittests
            #            entry: scripts/run-unittests
            #            language: script
            #            types: [file, python]
            #            verbose: true
#          - id: remove-stale-imports
#            name: Remove stale imports
#            language: script
#            entry: scripts/run-autoflake
#            types: [file, python]
