<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <meta http-equiv="refresh" content="{{ meta.refresh_interval }}" />
  </head>

  <body>
     <table class="table table-striped"><tr>
      <td>Host: <b>{{meta.hostname}}</b></td>
      {% for link in meta.extra_links %}
          <td><a href="{{ meta.extra_links[link] }}">{{link}}</a></td>
      {% endfor %}
      <td></td>
      <td></td>

     </tr><tr>

      <td>configuration at <tt><b>~/.docker_shaper/config.py</b></tt></td>
      <td>rotate log level: <tt>`<b>kill -USR1 {{meta.self_pid}}</b>`</tt></td>
      <td>backtrace: <tt>`<b>kill -USR2 {{meta.self_pid}}</b>`</tt></td>

     </tr><tr>

      <td><a href="/dashboard">Dashboard</a></td>
      <td><a href="/containers">Containers</a></td>
      <td><a href="/images">Images</a></td>
      <td><a href="/volumes">Volumes</a></td>
      <td><a href="/rules">Rules</a></td>
      <td><a href="/messages">Messages</a></td>

     </tr></table>

     <table class="table table-striped"><tr>
      <td>intervals:</td>

      {% for interval in meta.intervals %}
          <td>{{interval}} = <b>{{meta.intervals[interval]}}s</b>  </td><td></td>
      {% endfor %}

    </tr></table>

    <div class="dashboard">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
