{% extends "base.html" %}

{% block content %}

  <table class="table table-striped">
    <tr>
      <td>event_horizon (monitoring since): <b>{{meta.event_horizon}}</b></td>
      <td>
        <form method="post" action="cleanup" class="inline">
          <!--
          <input type="hidden" name="extra_submit_param" value="extra_submit_value">
          -->
          <button name="submit_param" value="submit_value">
            Cleanup (automatic in {{meta.next_cleanup}})
          </button>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>

      <td>expiration ages:</td>
      {% for age in meta.expiration_ages %}
          <td>{{age}} = <b>{{meta.expiration_ages[age]}}</b>  </td>
      {% endfor %}

    </tr><tr>

      <td>switches:</td>
      {% for switch in meta.switches %}
          <td>{{switch}} = <b>{{meta.switches[switch]}}</b>  </td><td></td>
      {% endfor %}
      <td></td>

    </tr>
  </table>

  <h2>containers ({{meta.container_count}})</h2>
  {{ containers_html|safe }}

  <h2>images ({{meta.image_count}})</h2>
  {{ images_html|safe }}

  <h2>messages ({{messages|length}})</h2>
  <table class="table table-striped">
  {% for msg in messages %}
    <tr>
      <td>{{msg[0]}}</td><td>{{msg[1]}}</td><td><tt>{{msg[2]|safe}}</tt></td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}

